body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6; /* Light gray background color */
}

.portfolio {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff; /* White background for the portfolio container */
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

header {
    background-color: #3498db; /* Blue header background color */
    color: #fff; /* White text color */
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

header h1 {
    margin: 0;
}

.info {
    padding: 20px;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 10px;
}

.info ul li strong {
    font-weight: bold;
}
